#s1{
    background:linear-gradient(To right,#f5f6fa,#3742fa,#0c2461);
    text-align:center;
}
img{
border-radius:100px;
}
h1{
    font-family: cursive;
    font-weight: bolder;
}

h2{
    font-family: sans-serif;
}
h3{
    font-family:fantasy;
    font-size:20px;
}